Build/
BuildVisual/
BuildEmscripten/
Web/_build

Rototo/Extern/SDL2/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/Debug*/
**/Release*/

**/moc/
**/osx-version/
**/win32-version/
# **/doc/en/out/
**/doc/fr/out/
**/doc/en/generated*
**/doc/fr/generated*
**/Android/obj
**/Android/bin
**/AS_DEBUG

# Android

**/jni/SDL2*/
**/jni/AngelScript*/
**/jni/Box*/
**/jni/tinyxml*/

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods

