<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>myiconrap.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
				<string>text/xml</string>
                <string>text/xhtml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ratata Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		        <key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>myiconrsc.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
				<string>text/xml</string>
                <string>text/xhtml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Rototo Scripts</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		        <key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>		
	</array>	
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>myicon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleSignature</key>
	<string>RATA</string>
	<key>CFBundleExecutable</key>
	<string>Ratata</string>
	<key>CFBundleIdentifier</key>
	<string>com.deliriom.Ratata</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>CFBundleName</key>
	<string>Ratata</string>
</dict>
</plist>
