<settings>
<position x = "50" y = "100"/>
<size w = "768" h="576"/>
<editor url="D:\tools\Sublime Text Build 3 3021 x64\sublime_text.exe" args="%s:%d:%d"/>
<datafolder directory="gamedata-sample"/>
<autorestart value="0"/>
<allowdebug value="1"/>
<verbose value="0"/>
<logtofile value="1"/>
</settings>